* {
    box-sizing: border-box;
}

:root {
    --primary-background: #fffaf5;
    --primary-color: #ff5b2e;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* ========================== Common ========================== */
.container {
    width: 1169px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 130px;
    height: 56px;
    flex-shrink: 0;
    color: #000958;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
    border-radius: 999px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn__icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 119.231%;
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}
/* ======================= Header ========================= */
.header {
    padding: 26px 0;
    min-height: 100%;
    background: var(--primary-background);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
}

.navbar__link-active,
.navbar__link:hover {
    color: #000958;
    text-shadow: calc(1px / 100) 0 0 currentColor;
}

.header-action__btn {
    min-width: 117px;
    height: 50px;
}

/* ============================= Hero ============================ */
.hero {
    margin-top: 74px;
    padding: 50px 0 0;
    min-height: 100vh;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 120px;
    align-items: center;
}

.hero__media {
    padding-bottom: 94px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
    /* make footer of image always place in the ground */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero__img {
    max-width: 100%; /* don't mutate if image has smaller size than this one*/
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    right: -43px;
    top: 17px;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
    top: auto;
}

.hero__img-wrap-small {
    max-width: 186px;
    max-height: 244px;
    background: #faa7ad;
    margin-left: -23px;
    margin-bottom: -58px;
    border: 2px solid #fcdde0;
}

.hero__list {
    position: absolute;
    max-width: 400px;
    margin-bottom: -94px;
    right: 120px;
}

.hero__list-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 115.152%;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.hero-row {
    margin-top: 38px;
}

.hero-btn {
    min-width: 190px;
    height: 60px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}

.hero__cta {
    margin-left: 24px;
    color: #000958;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-decoration-line: underline;
}

/* =========================== About ============================== */
/* .about {
    margin-top: 207px;
} */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__checklist {
    margin-top: 57px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* use auto to align item to gap */
    row-gap: 34px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
}

.about__check-item::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../img/check.svg);
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 31px 26px;
    text-align: center;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    z-index: 1;
}

.about__card-title {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 100%;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.about__card-decorator {
    position: absolute; /* don't mutate if absolute -> absolute -> relative */
    top: -40px;
    right: -30px;
}

.about__img-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    z-index: -1;
}

.about__img {
    display: block;
    width: 450px;
    height: 100%;
    margin: 0 auto;
}

.about__img-deco {
    position: absolute;
    right: -50px;
    top: 150px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none; /* remove after */
}

.about__img-bottom {
    width: 100%;
}

.about__deco-img {
    position: absolute;
}

.about__deco-img:nth-child(1) {
    top: 13px;
    right: 63px;
}

.about__deco-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__deco-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__deco-img:nth-child(4) {
    bottom: 207px;
    right: -40px;
}

.about__deco-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__deco-img:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    margin-top: 24px;
    margin-bottom: 52px;
    width: 511px;
}

.tab__list {
    position: relative;
    display: inline-flex; /* efficient line to use, not full */
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #ff5b2e;
    border-radius: 1px;
    opacity: 0.07;
}

.tab__item--active::after {
    opacity: 1;
    width: 95px;
}

.tab__item {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
    cursor: pointer;
}

.tab__icon {
    margin-right: 10px;
    padding-bottom: 4px;
    width: 21px;
    height: 21px;
    object-fit: cover;
}

.tab__title {
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
}

.tab__content-link {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
}

.tab__content-link::after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 1px;
}

/* ============================= Service ============================ */
.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}

.service-desc {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
}

.service-heading {
    margin-top: 15px;
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 119.231%;
}

.service__bottom {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 64px;
}

.service__column {
    display: grid;
    row-gap: 24px;
}

.service-item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item__heading {
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 100%;
}

.service-item__heading::before {
    content: "";
    margin-bottom: -3px;
    margin-right: 8px;
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 1px;
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
}

.service__item-link {
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
}

.service__item-link::after {
    content: url(../img/arrow-up-right.svg);
    margin-left: 6px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.service__media {
    position: relative;
    margin-top: 17px;
    text-align: center;
}

.service__media::after {
    /* width: 410px; */
    content: "";
    position: absolute;
    right: 16px;
    left: 16px;
    bottom: 0;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service-middle__img {
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    display: block;
}

.service__cta-wrap {
    margin-top: 21px;
    text-align: center;
}

.service__cta-btn {
    min-width: 214px;
    border: 1px solid currentColor;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #ff5b2e;
    font-size: 16px;
    font-weight: 500;
}

/* ============================== Staff ============================= */
.staff {
    padding: 130px 0;
}

.staff__heading,
.staff__desc {
    text-align: center;
}

.staff__heading {
    margin-top: 15px;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 94%;
    left: 0;
    bottom: 0;
    flex-shrink: 0;
    border-radius: inherit;
}

.staff-item:nth-child(1) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: calc(100% + 36px);
    background-repeat: no-repeat;
    background-position: bottom;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-deco-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-deco-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-deco-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-deco-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
    border-radius: inherit;
}

.staff-item__title {
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 100%;
}

.staff__cta-wrap {
    margin-top: 48px;
    text-align: center;
}

.staff__btn {
    color: #ff5b2e;
    font-size: 16px;
    font-weight: 500;
    min-width: 193px;
    border: 1px solid rgba(255 91 46 / 0.6);
}

.staff__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* ============================ Pricing ============================= */
.pricing {
    padding: 86px 0;
    background: #FFF6ED;
    text-align: center;
}

.pricing__desc {
    margin: 24px auto 0;
    width: 709px;
}

.pricing__switch-wrap {
    margin-top: 38px;
}

.pricing__switch-inner {
    position: relative;
    display: inline-block;
}

.pricing__switch-label::before {
    content: "";
    display: inline-block;
    background: #FF5B2E;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 140px;
    border-radius: inherit;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: initial;
    right: 0;
}

.pricing__switch-label {
    position: relative;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 99px;
    border: 1px solid rgba(255, 90, 46, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: 0.25s;
}

.pricing__switch-value {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    z-index: 1;
}

.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1) {
    color: #FF5B2E;
}

.pricing__sale {
    position: absolute;
    right: -112px;
    top: -10px;
}

.pricing__list {
    text-align: start;
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing-item {
    border-radius: 20px;
    background: #FFF;
    padding: 30px 28px;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: #FF5B2E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3F4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height:  103.03%;
}

.pricing-item__btn {
    margin-top: 22px;
    border: 1px solid rgba(255, 91, 46, 0.60);
    width: 100%;
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.25s;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.pricing-item__item::before {
    content: url(../img/pricing-check.svg);
    margin-right: 14px;
}

.pricing__container {
    width: 60%;
}

/* =========================== Review ========================= */
.review {
    padding: 53px 0;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    flex-shrink: 0;
    outline: none;
    border: 1.5px solid #FFD0C3;
    background: transparent;
    border-radius: 999px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF5B2E;
    transition: 0.25s;
}

.review__control:hover {
    background: #FF5B2E;
    color: #FFFAF5;
    border-color: #FF5B2E;
}

.review__list {
    display: flex;
}

.review__content {
    overflow: hidden;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    width: 100%;
    flex-shrink: 0;
}

.review-item__media {
    position: relative;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::after {
    content: "";
    position: absolute;
    background: #FFDA54;
    inset: auto 0 0 0;
    height: 83%;
    border-radius: inherit;
}

.review-item__img {
    width: 100%;
    border-radius: inherit;
    z-index: 1;
    position: relative;
    display: block;
}

.review-item__content {
    margin-top: 35px
}

.review-item__quote {
    width: 553px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 155.556%;
}

.review-item__author::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    left: -30px;
    top: 8px;
    border-radius: 1px;
}

.review-item__author {
    margin-left: 30px;
    position: relative;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #FF5B2E;
    transition: 0.25s;
}

.review__dot--active {
    width: 24px;
    background: #FF5B2E;
    border-color: FF5B2E;
}

.review__dot:hover {
    background: #FF5B2E;
    cursor: pointer;
}