* {
    box-sizing: border-box;
}

:root {
    --primary-background: #FFFAF5;
    --primary-color: #FF5B2E;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* ========================== Common ========================== */
.container {
    width: 1169px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 130px;
    height: 56px;
    flex-shrink: 0;
    color: #000958;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
    border-radius: 999px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 119.231%;
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}
/* ======================= Header ========================= */
.header {
    padding: 26px 0;
    min-height: 100%;
    background: var(--primary-background);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
}

.navbar__link-active,
.navbar__link:hover {
    color: #000958;
    text-shadow: calc(1px / 100) 0 0 currentColor;
}

.header-action__btn {
    min-width: 117px;
    height: 50px;
}

/* ============================= Hero ============================ */
.hero {
    margin-top: 74px;
    padding: 50px 0  0;
    min-height: 100vh;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 120px;
    align-items: center;
}

.hero__media {
    padding-bottom: 94px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid #fff;
    /* make footer of image always place in the ground */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero__img {
    max-width: 100%; /* don't mutate if image has smaller size than this one*/
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    right: -43px;
    top: 17px;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
    top: auto;
}

.hero__img-wrap-small {
    max-width: 186px;
    max-height: 244px;
    background: #FAA7AD;
    margin-left: -23px;
    margin-bottom: -58px;
    border: 2px solid #fcdde0;
}

.hero__list {
    position: absolute;
    max-width: 400px;
    margin-bottom: -94px;
    right: 120px;
}

.hero__list-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 115.152%;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.hero-row {
    margin-top: 38px;
}

.hero-btn {
    min-width: 190px;
    height: 60px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}

.hero__cta {
    margin-left: 24px;
    color: #000958;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-decoration-line: underline;
}

/* =========================== About ============================== */
/* .about {
    margin-top: 207px;
} */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__checklist {
    margin-top: 57px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* use auto to align item to gap */
    row-gap: 34px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
}

.about__check-item::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #FF5D31;
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../img/check.svg);
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 31px 26px;
    text-align: center;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    z-index: 1;
}

.about__card-title {
    color: #FFF;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 100%;
}

.about__card-desc {
    margin-top: 14px;
    color: #C6F4F9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.about__card-decorator {
    position: absolute; /* don't mutate if absolute -> absolute -> relative */
    top: -40px;
    right: -30px;
}

.about__img-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    height: 336px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    border-radius: 16px;
    z-index: -1;
}

.about__img {
    display: block;
    width: 450px;
    height: 100%;
    margin: 0 auto;
}

.about__img-deco {
    position: absolute;
    right: -50px;
    top: 150px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none; /* remove after */
}

.about__img-bottom {
    width: 100%;
}

.about__deco-img {
    position: absolute;
}

.about__deco-img:nth-child(1) {
    top: 13px;
    right: 63px;
}

.about__deco-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__deco-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__deco-img:nth-child(4) {
    bottom: 207px;
    right: -40px;
}

.about__deco-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__deco-img:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    margin-top: 24px;
    margin-bottom: 52px;
    width: 511px;
}

.tab__list {
    position: relative;
    display: flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #FF5B2E;
    border-radius: 1px;
    opacity: 0.07;
}

.tab__item--active::after {
    opacity: 1;
    width: 95px;
}

.tab__item {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
    cursor: pointer;
}

.tab__icon {
    margin-right: 10px;
    padding-bottom: 4px;
    width: 21px;
    height: 21px;
    object-fit: cover;
}

.tab__title {
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height:171.429%;
}

.tab__content-link {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 32px;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
}

.tab__content-link::after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 86px;
    height: 1.5px;
    background: #FF5D31;
    border-radius: 1px;
}